* {font-family: liberation serif}

body {background-color: black}

h1 {color: red;
    text-align: center}

h2 {color: red}

p, ul {color: #ccc}
li {margin-top: 15px}

.highlight {background-color: blue}

.menu {justify-content: center;
    list-style: none;
    display: flex;
    gap: 2%;
    padding: 10px;
    margin: 0}

.menu li a {color: white;
    font-weight: bolder}

.menu li a:hover {color: purple}

.Team-Cherry {display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    width: fit-content}

.Team-Cherry ul {margin: 0}

.Team-Cherry img {width: 1020px}
