* {font-family: liberation serif}

body {background-color: black}

h1 {color: red;
    text-align: center}

h2, h3 {color: red}

p {color: #ccc}

.highlight {background-color: blue}

.menu {justify-content: center;
    list-style: none;
    display: flex;
    gap: 2%;
    padding: 10px;
    margin: 0}

.menu li a {color: white;
    font-weight: bolder}

.menu li a:hover {color: purple}

.Total {display: flex;
    align-items: center;
    gap: 20px;
    margin: 19px auto;
    width: fit-content}

.Gauche {flex: 1}

.Droite img {width: 300px;
    border-radius: 10%}
